/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.pp-map * {
    line-height: 1.2;
    box-sizing: border-box;
}

.pp-map p {
    margin: 0 0 15px;
}

.pp-map small {
    display: inline-block;
    line-height: 1.2;
    font-size: 11px;
}

.pp-map hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #e7eaec;
}

.pp-map hr.hr--dashed {
    border-top: 1px dashed #e7eaec;
    margin:5px 0!important;
}
.pp-map hr:before, .pp-map hr:after{
    content:none!important;
}


.pp-map ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pp-map .pp-t-5 {
    margin-top: 5px;
}

.pp-map .pp-hide {
    display: none;
}

.pp-panel__header:after, .pp-panel__body:after, .pp-panel__footer:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 767px) {
    .pp-panel__header {
        height: 30%;
        display: block
    }

    .pp-panel__body {
        height: 55%;
        display: block
    }

    .pp-panel__footer {
        height: 15%;
        display: block
    }

    #harta-pp {
        height: 95%;
        top: 2%;
        left: 0;
        width: 90%;
        margin-left: 5%;
    }
}

@media (min-width: 767px) {
    .pp-panel__body {
        height: 75%;
        display: block
    }

    .pp-panel__header {
        height: 10%;
        display: block
    }

    .pp-panel__footer {
        height: 15%;
        display: block
    }
}

.pp-control-label {
    display: inline-block;
    margin: 0 0 5px;
    font-weight: 600;
}

.pp-form-control {
    display: block;
    width: 100%;
    padding: 7px 12px;
    font-size: 13px;
    border: 1px solid #e5e6e7;
}

.pp-form-group {
    margin: 0 0 15px;
}

.pp {
    max-width: 940px;
    margin: auto;
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    color: #676a6c;
}

.pp * {
    line-height: 1.4;
    box-sizing: border-box;
}

.pp__title {
    display: block;
    margin: 0 0 25px;
    font-weight: 600;
    font-size: 36px;
    color: #676a6c;
}

.pp .container {
    margin: auto;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .pp .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .pp .container {
        width: 940px;
    }
}

@media (min-width: 1200px) {
    .pp .container {
        width: 1140px;
    }
}

.pp-container {
    margin: 0 0 30px;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #e7eaec;
}


.infowindow-title {
    margin: 0 0 10px!important;
    font-weight: 700;
    font-size: 14px!important;
}

.infowindow-body {
    font-size: 13px!important;
}

.infowindow-body div {
    margin: 0!important;
    line-height: 1.2!important;
}

.infowindow-body b {
    font-weight: 700;
}

.infowindow-body hr {
    margin: 8px 0;
}

.pp-map {
    position: relative;
    display: block;
    min-height: 200px;
    height: 100%;
    overflow: hidden;
    background-color: #f3f3f4;
    transition: .3s ease;
}

.pp-map-toggle {
    display: none;
    text-decoration: none;
    font-weight: 700;
    color: #f1592a;
}

.pp-map__item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (min-width: 768px) {
    .pp-map__infowindow {
        width: 350px;
    }
}

.pp-panel__header {
    margin-bottom: 15px;
    border-bottom: 1px dashed #e7eaec;
}

.pp-panel__footer {
    padding: 15px 0 0;
    margin-top: 15px;
    border-top: 1px dashed #e7eaec;
}

.pp-panel__footer ul {
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
}

.pp-panel__title {
    font-size: 16px;
}

@media (max-width: 767px) {
    .pp-panel__footer .pp-col:first-child {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .pp-panel .pp-col {
        float: left;
        padding-right: 10px;
        padding-left: 10px;
    }

    .pp-panel__header, .pp-panel__footer {
        margin-right: -10px;
        margin-left: -10px;
    }

    .pp-panel__header .pp-col {
        width: 33.33333333%;
    }

    .pp-panel__footer .pp-col {
        width: 50%;
    }
}

.pp-map-wrap {
    height: 100%
}

.pp-panel {
    height: 100%
}

#harta-pp {
    position: fixed;
    display: none;
    left: 0;
    margin-top: 0;
    background: #fff;
    border-radius: 5px;
    z-index: 99999!important;
    overflow: hidden;
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
    -moz-box-shadow: 0 0 20px rgba(56, 56, 56, .2);
    -webkit-box-shadow: 0 0 20px rgba(56, 56, 56, .2);
    box-shadow: 0 0 20px rgba(56, 56, 56, .2);
    text-align: center;
    -webkit-transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media (min-width: 767px) {
    #harta-pp {
        height: 80%;
        top: 10%;
        width: 80%;
        margin-left: 10%;
    }
}

#pp-close, #pp-selected-dp-map {
    padding: 10px;
    background: #f1592a;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#pp-selected-dp {
    display:block!important;
}

#pp-selected-dp-map {
    margin-top: 15px;
}

.pp-overlay {
    overflow: hidden;
    -webkit-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.pp-overlay::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: 3s;
    transition: 3s;
}

#postapanduri-public-tracking {
    color: #000;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
    background: #E7E8E9;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #eee;
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
}

#postapanduri-public-tracking img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px
}
